<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.health.reservation.mapper.TCheckitemMapper">
    
    <resultMap type="TCheckitem" id="TCheckitemResult">
        <result property="id"    column="id"    />
        <result property="code"    column="code"    />
        <result property="name"    column="name"    />
        <result property="sex"    column="sex"    />
        <result property="age"    column="age"    />
        <result property="price"    column="price"    />
        <result property="type"    column="type"    />
        <result property="attention"    column="attention"    />
        <result property="remark"    column="remark"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectTCheckitemVo">
        select id, code, name, sex, age, price, type, attention, remark, create_by, create_time, update_by, update_time from t_checkitem
    </sql>

    <select id="selectTCheckitemList" parameterType="TCheckitem" resultMap="TCheckitemResult">
        <include refid="selectTCheckitemVo"/>
        <where>  
            <if test="keyword != null and keyword != ''"> and (code like #{keyword} or name like #{keyword})</if>
            <if test="code != null  and code != ''"> and code like #{code}</if>
            <if test="name != null  and name != ''"> and name like #{name}</if>
        </where>
    </select>
    
    <select id="selectTCheckitemById" parameterType="Long" resultMap="TCheckitemResult">
        <include refid="selectTCheckitemVo"/>
        where id = #{id}
    </select>

    <insert id="insertTCheckitem" parameterType="TCheckitem" useGeneratedKeys="true" keyProperty="id">
        insert into t_checkitem
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="code != null">code,</if>
            <if test="name != null">name,</if>
            <if test="sex != null">sex,</if>
            <if test="age != null">age,</if>
            <if test="price != null">price,</if>
            <if test="type != null">type,</if>
            <if test="attention != null">attention,</if>
            <if test="remark != null">remark,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="code != null">#{code},</if>
            <if test="name != null">#{name},</if>
            <if test="sex != null">#{sex},</if>
            <if test="age != null">#{age},</if>
            <if test="price != null">#{price},</if>
            <if test="type != null">#{type},</if>
            <if test="attention != null">#{attention},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateTCheckitem" parameterType="TCheckitem">
        update t_checkitem
        <trim prefix="SET" suffixOverrides=",">
            <if test="code != null">code = #{code},</if>
            <if test="name != null">name = #{name},</if>
            <if test="sex != null">sex = #{sex},</if>
            <if test="age != null">age = #{age},</if>
            <if test="price != null">price = #{price},</if>
            <if test="type != null">type = #{type},</if>
            <if test="attention != null">attention = #{attention},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTCheckitemById" parameterType="Long">
        delete from t_checkitem where id = #{id}
    </delete>

    <delete id="deleteTCheckitemByIds" parameterType="String">
        delete from t_checkitem where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
