<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.health.reservation.mapper.TSetmealMapper">
    
    <resultMap type="TSetmeal" id="TSetmealResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="code"    column="code"    />
        <result property="helpCode"    column="help_code"    />
        <result property="sex"    column="sex"    />
        <result property="age"    column="age"    />
        <result property="price"    column="price"    />
        <result property="remark"    column="remark"    />
        <result property="attention"    column="attention"    />
        <result property="img"    column="img"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectTSetmealVo">
        select id, name, code, help_code, sex, age, price, remark, attention, img, create_by, create_time, update_by, update_time from t_setmeal
    </sql>

    <select id="selectTSetmealList" parameterType="TSetmeal" resultMap="TSetmealResult">
        <include refid="selectTSetmealVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="code != null  and code != ''"> and code = #{code}</if>
            <if test="helpCode != null  and helpCode != ''"> and help_code = #{helpCode}</if>
            <if test="sex != null  and sex != ''"> and sex = #{sex}</if>
            <if test="age != null  and age != ''"> and age = #{age}</if>
            <if test="price != null "> and price = #{price}</if>
            <if test="attention != null  and attention != ''"> and attention = #{attention}</if>
            <if test="img != null  and img != ''"> and img = #{img}</if>
        </where>
    </select>
    
    <select id="selectTSetmealById" parameterType="Long" resultMap="TSetmealResult">
        <include refid="selectTSetmealVo"/>
        where id = #{id}
    </select>

    <insert id="insertTSetmeal" parameterType="TSetmeal" useGeneratedKeys="true" keyProperty="id">
        insert into t_setmeal
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">name,</if>
            <if test="code != null">code,</if>
            <if test="helpCode != null">help_code,</if>
            <if test="sex != null">sex,</if>
            <if test="age != null">age,</if>
            <if test="price != null">price,</if>
            <if test="remark != null">remark,</if>
            <if test="attention != null">attention,</if>
            <if test="img != null">img,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="code != null">#{code},</if>
            <if test="helpCode != null">#{helpCode},</if>
            <if test="sex != null">#{sex},</if>
            <if test="age != null">#{age},</if>
            <if test="price != null">#{price},</if>
            <if test="remark != null">#{remark},</if>
            <if test="attention != null">#{attention},</if>
            <if test="img != null">#{img},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateTSetmeal" parameterType="TSetmeal">
        update t_setmeal
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="code != null">code = #{code},</if>
            <if test="helpCode != null">help_code = #{helpCode},</if>
            <if test="sex != null">sex = #{sex},</if>
            <if test="age != null">age = #{age},</if>
            <if test="price != null">price = #{price},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="attention != null">attention = #{attention},</if>
            <if test="img != null">img = #{img},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTSetmealById" parameterType="Long">
        delete from t_setmeal where id = #{id}
    </delete>

    <delete id="deleteTSetmealByIds" parameterType="String">
        delete from t_setmeal where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>