<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.health.shetuan.mapper.TResourceMapper">
    
    <resultMap type="TResource" id="TResourceResult">
        <result property="resourceId"    column="resource_id"    />
        <result property="resourceName"    column="resource_name"    />
        <result property="resourceType"    column="resource_type"    />
        <result property="quantity"    column="quantity"    />
        <result property="location"    column="location"    />
        <result property="status"    column="status"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectTResourceVo">
        select resource_id, resource_name, resource_type, quantity, location, status, del_flag, create_by, create_time, update_by, update_time, remark from t_resource
    </sql>

    <select id="selectTResourceList" parameterType="TResource" resultMap="TResourceResult">
        <include refid="selectTResourceVo"/>
        <where>  
            <if test="resourceName != null  and resourceName != ''"> and resource_name like concat('%', #{resourceName}, '%')</if>
            <if test="resourceType != null  and resourceType != ''"> and resource_type = #{resourceType}</if>
            <if test="quantity != null "> and quantity = #{quantity}</if>
            <if test="location != null  and location != ''"> and location = #{location}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectTResourceByResourceId" parameterType="Long" resultMap="TResourceResult">
        <include refid="selectTResourceVo"/>
        where resource_id = #{resourceId}
    </select>

    <insert id="insertTResource" parameterType="TResource" useGeneratedKeys="true" keyProperty="resourceId">
        insert into t_resource
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="resourceName != null and resourceName != ''">resource_name,</if>
            <if test="resourceType != null and resourceType != ''">resource_type,</if>
            <if test="quantity != null">quantity,</if>
            <if test="location != null">location,</if>
            <if test="status != null">status,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="resourceName != null and resourceName != ''">#{resourceName},</if>
            <if test="resourceType != null and resourceType != ''">#{resourceType},</if>
            <if test="quantity != null">#{quantity},</if>
            <if test="location != null">#{location},</if>
            <if test="status != null">#{status},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateTResource" parameterType="TResource">
        update t_resource
        <trim prefix="SET" suffixOverrides=",">
            <if test="resourceName != null and resourceName != ''">resource_name = #{resourceName},</if>
            <if test="resourceType != null and resourceType != ''">resource_type = #{resourceType},</if>
            <if test="quantity != null">quantity = #{quantity},</if>
            <if test="location != null">location = #{location},</if>
            <if test="status != null">status = #{status},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where resource_id = #{resourceId}
    </update>

    <delete id="deleteTResourceByResourceId" parameterType="Long">
        delete from t_resource where resource_id = #{resourceId}
    </delete>

    <delete id="deleteTResourceByResourceIds" parameterType="String">
        delete from t_resource where resource_id in 
        <foreach item="resourceId" collection="array" open="(" separator="," close=")">
            #{resourceId}
        </foreach>
    </delete>
</mapper>